
.left {
  font-size: 20px;
  color:red;
  
  
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 30px;
  padding:10px;
  color: black;
  

}

.right a {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.right a:hover {
  text-decoration: underline;
  color: yellow;
}
#p{
  background-color: red;
  color: red;
}
.Navbar {
  background: linear-gradient(to right, blue,skyblue); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; 
  padding: 0 20px;
  color: white; 
  font-size: 18px;
}
.left:hover {
  text-decoration: underline;
  color: rgb(94, 255, 0);
}